<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi expedita velit facilis excepturi nemo magnam necessitatibus voluptatum animi at illum.</p>
    </div>
</section>