<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil sapiente quidem autem necessitatibus aliquid quod.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla atque non tempora cumque, exercitationem vel eaque delectus rerum blanditiis adipisci.</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">Faztweb</a>
</div>